.course_details .card .mb-2 {
    display: flex;
    justify-content: space-between;
}

.course_details .card {
    border: 1px solid #08091b;
}

.table-dark th {
    background: #08091b;
    border-color: #08091b;
}

.event_none {
    opacity: .5;
    pointer-events: none;
}

#user_search_results .dropdown-menu {
    max-height: 200px;
    overflow: auto;
}

html.body_loader {
    overflow: hidden;
}

.body_loader .global_loader img {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: auto;
}

.body_loader .global_loader {
    width: 100%;
    height: 100%;
    background: #bdbdbd99;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.view-popup i.fas.fa-times {
    font-size: 30px;
    color: red;
    font-weight: 100;
    position: absolute;
    left: 7px;
    top: 1px;
}

.view-popup {
    position: relative;
}

.view-popup i.fas.fa-check {
    font-size: 25px;
    color: #ffffff;
    font-weight: 100;
    position: absolute;
    left: 5px;
    top: 3px;
}

div#cke_notifications_area_editor {
    display: none;
}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
}

.file-upload-button {
    background-color: #3490dc;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    /* width: 100%; */
    height: 100%;
    cursor: pointer;
}

.file-names {
    margin-top: 10px;
    font-size: 14px;
}

.sidebar .nav.nav-secondary>.nav-item .nav-collapse li.active>a {
    color: white !important;
}