ZIPS/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess
/public/banner_images
/public/bundle_image
/public/CategoryImages
/public/course_images
/public/CourseThumbnail
/public/methodologies
/public/pdfs
/public/post_image
/public/product_images
/public/ProductImages
/public/profile_images
/public/resources

/public/learners
/public/learners/*
/public/frontend/video
.user.ini
blogs/
error_log
t4e/
wp-content/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/cache/*
/bootstrap/cache/*
/storage/logs/app/Http/Controllers/Controller.php
config/l5-swagger.php
