@media (max-width: 1025px) {
    body.hold-transition.sidebar-mini.layout-fixed.position-relative.mb-0
        header#headerWrapper
        .marque.marque-active
        p,
    body.hold-transition.sidebar-mini.layout-fixed.position-relative.mb-0
        header#headerWrapper
        .marque
        p,
    body.hold-transition.sidebar-mini.layout-fixed.position-relative.mb-0
        header#headerWrapper
        .marque.marque-active
        p
        a,
    body.hold-transition.sidebar-mini.layout-fixed.position-relative.mb-0
        header#headerWrapper
        .marque
        p
        a {
        font-size: 14px !important;
    }
}
@media (max-width: 1400px) {
    body header#headerWrapper .marque.marque-active p,
    body header#headerWrapper .marque.marque-active p a {
        font-size: 16px !important;
    }
    #banner .tableOfContent {
        top: 8%;
    }
}
@media (max-width: 840px) {
    .mainWrapper
        .product-page.singleProduct
        section.mainContentWrapper.courseRow
        .tableOfContent {
        padding: 20px 10px !important;
        top: 12% !important;
    }
}
@media (max-width: 767px) {
    .mainWrapper .product-page.singleProduct section.mainContentWrapper.courseRow .tableOfContent{
    top: 18% !important;
    }
}
@media (max-width: 2000px) {
    .product-page.singleProduct
        section.mainContentWrapper.courseRow
        .tableOfContent {
        padding: 20px 10px !important;
        top: 8% !important;
    }
}
